<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <center>
    <h1>{{ title }}</h1>

    <canvas id="chart" width="1200" height="800"></canvas>
    <script>

      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
        ],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          bezierCurve : false,
          data : [
	    {% for item in values %}
              {{ item }},
            {% endfor %}]
          }
	]
      }

      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;
      Chart.defaults.global.tooltips.mode = "single";
      Chart.defaults.global.legend.display = false;

      // get bar chart canvas
      var myChart = document.getElementById("chart").getContext("2d");
      
      steps = 10
      max = {{ max }}
      // draw bar chart
      var LineChartDemo = new Chart(myChart, {
        type: "line",
        data: barData,
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false
      });

      $(document).on('submit','#paramForm',function(e) {
        e.preventDefault(); 
      });



    </script>

	<form action="\line" name="paramForm" method="POST">
    <br>
		<div style="display: inline-block; margin: auto;">
      <label for="parg">P</label>
      <input id="parg" name="parg" value={{P}} type="range" min="0" max="10" step="0.1" oninput="pamount.value=parg.value" />
      <input id="pamount" type="text" size="1" value={{P}} disabled/>
    </div>
		<div style="display: inline-block; margin: auto;">
      <label for="iarg">I</label>
      <input id="iarg" name="iarg" value={{I}} type="range" min="0" max="10" step="0.1" oninput="iamount.value=iarg.value" />
      <input id="iamount" type="text" size="1" value={{I}} disabled/>
    </div>
		<div style="display: inline-block; margin: auto;">
      <label for="darg">D</label>
      <input id="darg" name="darg" value={{D}} type="range" min="0" max="1" step="0.01" oninput="damount.value=darg.value" />
      <input id="damount" type="text" size="1" value={{D}} disabled/>
    </div>
    <br><br>
	  <div>
		<button>Confirm</button>
	  </div>
	</form>
  </center>
</body>
</html>